/**             Main Body           **/

section.container-fluid {
    min-height: 120px;
    max-width: 100%;
    min-width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    background-color: rgb(250, 251, 252);
}

.container-fluid h3 {      /**  Includes Title Formatting **/
    color: darkblue;
    text-decoration-line: underline;
    text-align: center;
    padding-top: 15px;
}

h4 {
    text-align: center;
    color: darkblue;
}

.container-fluid p {                /** Paragraph Formatting **/
    color: darkblue;
    text-align: center;
}

/**             Navigation Bar      **/

.club-logo {
    height: 50px;
    width: 50px;
}

.navbar {
    width: 100%;
    background-color: aliceblue;
    overflow: auto;
    padding: 0;
}

.navbar a {
    float: left;
    padding: 0;
    color: royalblue;
    text-decoration: none;
    font-size: 125%;
    width: 20%;
    text-align: center;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.navbar a.active {
    background-color: rgb(189, 222, 252);
}

.navbar a.nav-text {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar a:hover {
    background-color: royalblue;
    color: aliceblue;
}

@media screen and (max-width: 520px) {
    .navbar a {
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }
}

/**             Index               **/

/** Header Image **/

.callout-container {
    height: 91vh;
    background: url(/assets/pitches-cover.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0;
}

.jumbotron {
    background-color: transparent;
    color: aliceblue;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
}

/** Main Index Body **/

.index-page {
    max-width: 100%;
    min-width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

.index-page div {
    padding: 0;
    margin: 0;
}

/** Embedded Twitter Feed **/

.twitter {
    background-color: aqua;
    padding: 0;
    margin: 0;
    align-content: center;  
}

.twitter h5 {
    text-align: center;
}

.twitter-feed {
    max-height: 800px;
    max-width: 300px;
}

/**             About Us             **/

.team {
    background-color: rgb(250, 251, 252);
    color: rgb(5, 63, 235);
}

.team h4 {
    text-align: center;
    padding-top: 15px;
}

.team-a {
    color: rgb(5, 63, 235);
    background-color: rgb(151, 205, 252);
}

.team-b {
    color: aliceblue;
    background-color: rgb(5, 63, 235);
}

.team h5 {
    text-align: center;
    padding-top: 15px;
}

.team p {
    text-align: center;
}

.team ul {
    text-align: center;
    list-style: none;
    padding: 0;
}

@media screen and (max-width: 520px) {
    .team-a {
        color: royalblue;
        background-color: aliceblue;
        padding: 0;
    }
    .team-b {
        color: royalblue;
        background-color: aliceblue;
        padding: 0;
    }
    .team h5 {
        background-color: royalblue;
        color: aliceblue;
        padding: 0;
        border: 0;
    }
}

/**             Season              **/

.fixtures, .league-table {
    background-color: rgb(250, 251, 252);
}

.fixtures p, .league-table p {
    color: darkblue;
}

/** Table **/

.table td, .table th {
    border-top: 1px solid darkblue;
}

.table thead th {
    border-bottom: 1.5px solid black;
    color: aliceblue;
    background-color: darkblue;
    text-align: center;
    padding: 5px 0;
}

.table-hover>tbody>tr:hover {
    background-color: royalblue;
    color: aliceblue;
}

/** League Table **/

.league-table table tbody {
    text-align: center;
}

/**             Sponsors            **/

.sponsor-row {
    padding: 0;
    margin: 0;
    padding-top: 15px;
    width: 100%;
    overflow: auto;
}

.sponsor-card {
    background-color: rgb(250, 251, 252);
    padding: 10px 0;
}

.sponsor-card img {
    height: 65%;
    width: 80%;
    padding-top: 0px;
    border-radius: 5px;
    display: block;
    margin: auto;
    margin-top: 15px;
}

.image-container {
    width: 75%;
    height: 100%;
    display: block;
    margin: auto;
    padding: 12px 0px;
    border-radius: 5%;
    font-size: 20px;
    line-height: 12px;
    text-align: center;
    color: aliceblue;
    background-color: royalblue;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.image-container:hover {
    background-color: darkblue;
}

.image-container h5, .image-container p {
    color: aliceblue
}

.image-container a {
    text-decoration: none;
}

/**             Contact Us            **/

/** Forms **/

.forms input, .forms select, .forms textarea {
    border-color: royalblue;
}

.forms button {
    color: aliceblue;
    background-color: royalblue;
    border-color: royalblue;
    margin-bottom: 15px;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.forms button:hover {
    background-color: darkblue;
}

/** Maps Section **/

#mapcanvas {
    margin-bottom: 15px;
}

/**             Footer              **/

footer {
    color: aliceblue;
    min-height: 120px;
    max-width: 100%;
    min-width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

.container-fluid {
    padding-right: 0;
}

.main-footer {
    background-color: royalblue;
    text-align: center;
    padding: 0;
    margin: 0;
    padding-top: 15px;
    width: 100%;
    overflow: auto;
}

.main-footer p {
    color: aliceblue;
}

.sub-footer {
    background-color: rgb(50, 78, 161);
    text-align: center;
    font-size: 0.9em;
}

.sub-footer p {
    color: aliceblue;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 30px;
}

.all-footer {
    padding-left: 0;
}

.icon {
    width: 36px;
    height: 36px;
    padding: 12px 0px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 12px;
    text-align: center;
    color: aliceblue;
    background-color: #4524D6;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.icon:hover {
    color: #4524D6;
    background-color: aliceblue;
}