/**             Main Body           **/

body {
    font-family: 'Montserrat', sans-serif;
}

section.container-fluid {
    min-height: 120px;
    max-width: 100%;
    min-width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    background-color: rgb(250, 251, 252);
}

h1, h2, h3, h4, h5 {
    text-align: center;
    color: darkblue;
}

h2 {
    padding-top: 40px;
    font-weight: 600;
}

.container-fluid p {                /** Paragraph Formatting **/
    color: darkblue;
    text-align: center;
}

/**             Navigation Bar      **/

.club-logo {
    height: 50px;
    width: 50px;
}

.navbar {
    width: 100%;
    background-color: rgb(250, 251, 252);
    overflow: auto;
    padding: 0;
}

.navbar a {
    float: left;
    padding: 0;
    color: darkblue;
    text-decoration: none;
    font-size: 125%;
    width: 20%;
    text-align: center;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.navbar a.active {
    background-color: rgb(189, 222, 252);
}

.navbar a.nav-text {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar a:hover {
    background-color: darkblue;
    color: aliceblue;
}

@media screen and (max-width: 520px) {
    .navbar a {
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }
}

/**             Index               **/

/** Header Image **/

.callout-container {
    height: 91vh;
    background: url(pitches-cover.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0;
}

.jumbotron {
    background-color: transparent;
    color: aliceblue;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
}

/** Main Index Body **/

.index-page {
    max-width: 100%;
    min-width: 100%;
    margin: auto;
}

/** Index Page Cards **/

.index-cards {
    padding: 10px 0;
}

.index-page-card img {
    height: 200px;
    width: auto;
    border-radius: 5px;
    display: block;
    margin: auto;
    margin-top: 10px;
}

.index-page-card h5, .index-page-card p {
    text-align: center;
    color: aliceblue;
}

.index-page-card h5 {
    padding-top: 10px;
}

.index-page-card p {
    padding-bottom: 10px;
}

.index-page-card a {
    text-decoration: none;
}

.index-page-card {
    background-color: royalblue;
    text-align: center;
    border-radius: 5px;
    padding: 1% 1% 0 1%;
    position: relative;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.index-page-card:hover {
    background-color: darkblue;
    top: -10px;
}

/** Embedded Twitter Feed **/

.twitter {
    padding: 0;
    margin: 0;
    align-content: center;  
}

.twitter-timeline {
    position: relative;
    overflow: auto;
    margin: auto;
}

/**             About Us             **/

.team-card {
    padding: 0;
    margin: 0;
    padding-top: 15px;
    width: 100%;
    overflow: auto;
}

.team {
    background-color: royalblue;
    margin: 15px;
    border-radius: 3%;
    position: relative;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.team:hover {
    background-color: darkblue;
    top: -10px;
}

.team h4, .team h5, .team p {
    color: aliceblue;
    text-align: center;
    margin-left: 2.5px;
    margin-right: 2.5px;
    padding: 0;
}

.team h4 {
    padding-top: 5px;
}

.team img {
    height: 100%;
    width: 80%;
    padding-top: 0px;
    border-radius: 5px;
    display: block;
    margin: auto;
    padding-bottom: 0px;
}

/**             Season              **/

.fixtures, .league-table {
    background-color: rgb(250, 251, 252);
}

.fixtures p, .league-table p {
    color: darkblue;
}

/** Table **/

.my-custom-scrollbar {
    position: relative;
    height: 424px;
    overflow: auto;
  }
  .table-wrapper-scroll-y {
    display: block;
  }

.table td, .table th {
    border-top: 1px solid darkblue;
}

.table thead th {
    border-bottom: 1.5px solid black;
    color: aliceblue;
    background-color: darkblue;
    text-align: center;
    padding: 5px 0;
}

.table-hover>tbody>tr:hover {
    background-color: royalblue;
    color: aliceblue;
}

/** League Table **/

.league-table table tbody {
    text-align: center;
}

/**             Sponsors            **/

.our-sponsors p {
    padding-top: 10px;
    padding-bottom: 15px;
}

.sponsor-row {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: auto;
}

.sponsor-card {
    padding: 0;
}

.sponsor-row img {
    height: 100%;
    width: 100%;
}

.sponsor-row h3 {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
}

.sponsor-row p {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.overlay:hover {
    opacity: 1;
    background-color: rgb(189, 222, 252, 0.4);
}

/**             Contact Us            **/

/** Forms **/

.forms input, .forms select, .forms textarea {
    border-color: royalblue;
}

.forms button {
    color: aliceblue;
    background-color: royalblue;
    border-color: royalblue;
    margin-bottom: 15px;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.forms button:hover {
    background-color: darkblue;
}

/** Maps Section **/

#mapcanvas {
    margin-bottom: 15px;
}

/** Image at Bottom **/

.contact-page-image img {
    height: 100%;
    width: 50%;
    padding-top: 0px;
    border-radius: 5px;
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

/**             Footer              **/

footer {
    color: aliceblue;
    min-height: 120px;
    max-width: 100%;
    min-width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

.container-fluid {
    padding-right: 0;
}

.main-footer {
    background-color: royalblue;
    text-align: center;
    padding: 0;
    margin: 0;
    padding-top: 15px;
    width: 100%;
    overflow: auto;
}

.main-footer p {
    color: aliceblue;
}

.main-footer h5 {
    color: aliceblue;
}

.sub-footer {
    background-color: rgb(50, 78, 161);
    text-align: center;
    font-size: 0.9em;
}

.sub-footer p {
    color: aliceblue;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 30px;
}

.all-footer {
    padding-left: 0;
}

.icon {
    width: 36px;
    height: 36px;
    padding: 12px 0px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 12px;
    text-align: center;
    position: relative;
    color: aliceblue;
    background-color: #4524D6;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.icon:hover {
    color: #4524D6;
    background-color: aliceblue;
}

.social-links ul {
    width: 100%;
    margin: 0 auto;
}

.social-links li {
    float: left;
    text-align: center;
    width: 25%;
    margin-bottom: 15px;
}

#inside-link {
    text-decoration: none;
    color: aliceblue;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

#inside-link:hover {
    color: darkblue;
}

#outside-link {
    text-decoration: none;
    color: aliceblue;
    font-size: 105%;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

#outside-link:hover {
    color: darkblue;
}